# Получи токен у @BotFather в Telegram
BOT_TOKEN=8527728538:AAGwJ_6VAsgH-l3dT9AsSTCLluu3mL_9lC0

# Получи API ключ на https://console.groq.com/
GROQ_API_KEY=gsk_k9EnvJhYKtcFkLNZl2LoWGdyb3FYxkzcxncADjaXOIId9A1jvJkWgsk_k9EnvJhYKtcFkLNZl2LoWGdyb3FYxkzcxncADjaXOIId9A1jvJkW
