# Telegram Bot Token
BOT_TOKEN=8485858364:AAHb8OeczzIK1_zNDHLw1Gxy2cT-9DEAjOU

# Groq API Key
GROQ_API_KEY=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

# Telegram API credentials (для userbot)
TELEGRAM_API_ID=25705911
TELEGRAM_API_HASH=43f4589225ab1f4748d36edb6e5411f6
TELEGRAM_SESSION=1AgAOMTQ5LjE1NC4xNjcuNTABu4WW/T2Y9ueP6GFPi5vcz1r5taMXDKhcCbG3f383QxmwEe5tWUMyjGjwYfOGVvKYYK4QrfJZaIWGFpYiYzqlXad5bJVRvEEDqesQsa6bgb59KzcAayJBJN3dxhexdyIwAxLyvfku7IRfgNWC0DOBa0jFsOswDFat6wAz4M0aFeoOr5xt7fK/2VScTV7cdX/IRiCoZqK1D1B71VXuP8/57vi2nj4sQQ5sogWhoFny0Q2dnaR8Xk0Aga8QJkOcuiGFvtpIr7y3ecT63a2rsoynxL47OEIpLX53MGxWRGTeRLr51vM0D6gRmi/dSICHVW469nmdpHGYtpEO94XfpPHObt0=

# Целевой чат для анализа (ID чата)
TARGET_CHAT_ID=-1003385501532

# Лимит сообщений для сбора (по умолчанию 150)
MESSAGE_LIMIT=300
